.main {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 1200px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 6, 70);
    background-image: radial-gradient(circle, rgb(126, 72, 177) 0%, rgba(54, 11, 94, 0) 80%);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -120px;
    z-index: 1;
}

/* .melt-effect {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    pointer-events: none;
  }
  
  .melt-effect svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    fill: #FFF;
    transform-origin: bottom center;
    animation: melt 2s ease-in-out forwards;
  }
  
  @keyframes melt {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  } */

.main .mySelf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 998px;
    height: 50px;
    /* border: 1px solid black; */
}

.main .mySelf h1 {
    font-size: 16px;
    margin-top: 180px;
    color: rgb(192, 170, 212);
}

.main .job {
    font-size: 250px;
    display: flex;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #fff;
}

.iconIten {
    padding: 5px;
    margin-bottom: 55px;
    margin-left: 30px;
    cursor: pointer;
}

.iconIten :hover {
    color: #fff;
}

.category {
    margin-top: -135px;
}

.main .mySelf2 {
    width: 1005px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .mySelf2 h1 {
    font-size: 16px;
    margin-bottom: 170px;
    color: rgb(192, 170, 212);
}

  @media screen and (max-width: 1280px ) {

    .main {
        display: flex;
        flex-direction: column;
        width: 99.9%;
        height: 100vh;
        border: 1px solid black;
        margin-top: -300px;
    }
    
    .main .mySelf {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 400px;
        height: 50px;
        /* border: 1px solid black; */
    }
    
    .main .mySelf h1 {
        font-size: 7px;
        margin-top: 100px;
        color: rgb(192, 170, 212);
    }
    
    .main .job {
        font-size: 100px;
        display: flex;
        flex-direction: column;
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        color: #fff;
        /* border: 1px solid black; */
        justify-content: center;
    }
    
    .iconIten {
        padding: 8px;
        margin-bottom: 16px;
        margin-left: 2px;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    
    .iconIten :hover {
        color: #fff;
    }
    
    .category {
        margin-top: -55px;
    }
    
    .main .mySelf2 {
        width: 400px;
        height: 30px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .main .mySelf2 h1 {
        font-size: 7px;
        margin-bottom: 80px;
        color: rgb(192, 170, 212);
    }
    
    .arrowMain {
        display: flex;
        justify-content: flex-end;
    }
  }
  
  @media screen and (max-width: 480px ) {

    .main {
        display: flex;
        flex-direction: column;
        width: 99.9%;
        height: 1000px;
        border: 1px solid black;
        margin-top: -300px;
    }
    
    .main .mySelf {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 50px;
        /* border: 1px solid black; */
    }
    
    .main .mySelf h1 {
        font-size: 5px;
        margin-top: 70px;
        color: rgb(192, 170, 212);
    }
    
    .main .job {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        color: #fff;
        /* border: 1px solid black; */
        justify-content: center;
    }
    
    .iconIten {
        padding: 1px;
        margin-bottom: 10px;
        margin-left: 3px;
        cursor: pointer;
        width: 11px;
        height: 11px;
    }
    
    .iconIten :hover {
        color: #fff;
    }
    
    .category {
        margin-top: -25px;
    }
    
    .main .mySelf2 {
        width: 200px;
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .main .mySelf2 h1 {
        font-size: 5px;
        margin-bottom: 66px;
        color: rgb(192, 170, 212);
    }
    
    .arrowMain {
        display: flex;
        justify-content: flex-end;
    }
  }

  @media screen and (max-width: 280px ) {

    .main {
        display: flex;
        flex-direction: column;
        width: 99.9%;
        height: 1000px;
        border: 1px solid black;
        margin-top: -300px;
    }
    
    .main .mySelf {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 160px;
        height: 50px;
        /* border: 1px solid black; */
    }
    
    .main .mySelf h1 {
        font-size: 5px;
        margin-top: 70px;
        color: rgb(192, 170, 212);
    }
    
    .main .job {
        font-size: 40px;
        display: flex;
        flex-direction: column;
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        color: #fff;
        /* border: 1px solid black; */
        justify-content: center;
    }
    
    .iconIten {
        padding: 1px;
        margin-bottom: 8px;
        margin-left: 3px;
        cursor: pointer;
        width: 9px;
        height: 9px;
    }
    
    .iconIten :hover {
        color: #fff;
    }
    
    .category {
        margin-top: -22px;
    }
    
    .main .mySelf2 {
        width: 160px;
        height: 30px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .main .mySelf2 h1 {
        font-size: 5px;
        margin-bottom: 50px;
        color: rgb(192, 170, 212);
    }
    
    .arrowMain {
        display: flex;
        justify-content: flex-end;
    }
  }

  