body {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 100vh;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}

.mainText h1 {
    font-size: 180px;
}

.mainText {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
     height: 580px;
     width: 100%;
     justify-content: center;
}

.mainText .job {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}

.mainText .category {
    margin-top: -270px;
    display: flex;
    justify-content: center;
}

.smallText1 {
    /* border: 1px solid black; */
    width: 1325px;
    height: 50px;
    display: flex;
    /* margin-bottom: -220px; */
}

.smallText2 {
    width: 1325px;
    height: 200px;
    /* border: 1px solid black; */
    margin-top: -200px;
    display: flex;
    justify-content: end;
}

.image {
    /* border: 1px solid black; */
    width: 800px;
    height: 100px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

.image .boxImage {
    padding: 30px;
}

.icon {
    cursor: pointer;
}