.nav-bar {
    width: 70%;
    height: 80px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-bar h1 {
    font-size: 35px;
    margin: 45px;
}

.nav-bar h1:hover {
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar li {
    margin: 45px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-bar li:hover {
    text-decoration: underline;
}